.card-horizontal {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  /* height: 258px; */
  height: auto;
  background-color: #1c484a;
}

.CardTitle {
  font-size: 40px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.slugText {
  font-style: normal;
  color: #e5e5e5;
  font-family: Barlow;
  font-size: 17px;
  font-weight: normal;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Explore-btn {
  width: 36%;
  height: 40px;
  border: none;
  background: #c4c4c4;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
}

.image {
  padding: 1.25rem;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.text-muted {
  border: none;
  padding: 1.25rem;
}

.container_padding {
  padding-right: 13% !important;
  padding-left: 13% !important;
}

/* .komak{
  overflowY: 'scroll',
  border:'1px solid red',
  width:'500px',
  float: 'left',
  height:'500px',
  position:'relative'
} */

.Progressbar {
  height: 14px;
  width: 90%;
  padding: 0px;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}
html,
body {
  overflow-x: hidden !important;
  margin: 0;
}

@media (max-width: 480px) {
  .card-horizontal {
    height: auto;
    width: 100%;
  }
  .container_padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }

  .image {
    display: none;
  }

  .card-body {
    padding: 2.25rem;
  }

  .text-muted {
    margin-left: 14px;
    border: none;
  }
}
